.container-calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5; 
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
  }
  
  button {
    width: 150px;
    font-size: 16px;
  }
  
  button + button {
    margin-left: 100px;
  }
  